<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<br />
	<p>Splurty was built by Kasie Jun. She is currently working in Boston, MA as a technical writer and studying how to code. She hopes to build more web apps in the future with the knowledge she gains. 
	</p>
</div>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'smallvolcanomilkyway.png', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Kasie Jun</h2>
	<br />
	<p>Kasie Jun graduated with a degree in sociology degree and a professional writing and technical communication certificate. When not toiling away in a gray cubicle, she is working on her stories about magical situations happening to ordinary people. 
	</p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

